.boxLine1{

    background-image: url(../../../public/images/boxLine.png);
    background-size: 700px;
    background-position: top;
    background-repeat: no-repeat;
    .contactBanner{
        padding: 70px 0 60px;
        margin-top: 100px;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
       
        @media screen and (max-width:1200px) {
            padding: 70px 0 20px;
        }
    
        @media screen and (max-width:992px) {
            padding: 40px 0 40px;
        }
        .bannerContent{
            text-align: center;
            .title{
                h2{
                    font-size: 56px;
                    color: #fff;
                    font-weight: 700;
                    margin-bottom: 0px;
                    @media screen and (max-width: 992px){
                        font-size: 32px;
                      }
                }
                p{
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #fff;
                    letter-spacing: 1px;
                    line-height: 1.8;
                    margin-bottom: 10px;
                    @media screen and (max-width: 992px){
                        font-size: 12px;
                        
                    }
                }
                img{
                    margin-top: 20px;
                }
            }
        }
    }
    .contactForm{
        padding: 70px 0;
        overflow: hidden;
        @media screen and (max-width:600px){
            padding: 40px 0 0;
           }
        .contactFormLeft{
            margin-bottom: 30px;
            h2{
                font-size: 40px;
                color: #fff;
                margin-bottom: 10px;
                position: relative;
                @media screen and (max-width:1200px){
                    font-size: 30px;
                    line-height: 45px;
                  }
            }
            p{
                font-size: 16px;
                color: rgba(255, 255, 255, 0.7);
                margin-bottom: 30px;
            }
            .contactFormLeftContent{
                .block{
                    display: flex;
                    margin-bottom: 20px;
                    align-items: center;
                    img{
                        margin-right: 10px;
                    }
                    .content{
                        h4{
                            font-size: 18px;
                            color: #fff;
                            margin-bottom: 5px;
                        }
                        p{
                            font-size: 16px;
                            color: rgba(255, 255, 255, 0.7);
                            margin: 0;
                            a{
                                color: rgba(255, 255, 255, 0.7);
                                text-decoration: none;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
        .formData{
            background-color: #1D1F20;
            border: none;
            padding: 40px;
            border-radius: 15px;
            box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 9%);
            z-index: 99;
            position: relative;
            @media screen and (max-width:992px){
                padding: 20px;
               }
            form{
                h4{
                    font-size: 24px;
                    color: #fff;
                    
                    font-weight: 400;
                    @media screen and (max-width:1200px){
                        font-size: 20px;
                        line-height: 30px;
                      }
                }
                .form-group{
                    margin-top: 20px;
                    position: relative;
                    label{
                        font-size: 16px;
                        color: #fff;
                        font-weight: 500;
                        margin-bottom: 10px;
                        display: block;
                    }
                    .error{
                        color: #ff6262;
                        font-size: 14px;
                        margin-top: 10px;
                        margin-bottom: 0;
                    }
                    input, textarea{
                        width: 100%;
                        padding: 15px;
                        border: 1px solid rgba(255, 255, 255, 0.12);
                        border-radius: 5px;
                        font-size: 16px;
                        color: #fff;
                        outline: none;
                        background-color: #171819;
                        &::placeholder{
                            color: rgba(255, 255, 255, 0.7);
                        }
                    }
                    textarea{
                        height: 150px;
                    }
                    button{
                        background-color: #5B94FF;
                        color: #fff;
                        border: 1px solid #5B94FF;
                        padding: 15px 30px;
                        border: none;
                        border-radius: 5px;
                        font-size: 14px;
                        cursor: pointer;
                        transition: all 0.3s;
                        width: 100%;
                        font-weight: 600;
                        &:hover{
                            background-color: #171819;
                            color: #5B94FF;
                            border: 1px solid #5B94FF;
                        }
                    }
                }
                
            }
            .submission-message{
                color: #fff;
                font-size: 14px;
                margin-top: 10px;
                margin-bottom: 0;
                padding: 10px;
                border-radius: 7px;
                background-color: #171819;
                border: 1px solid #5B94FF;
            }
        }
        .map{
            margin-top: -100px;
            z-index: -9;
            @media screen and (max-width:600px) {
                margin-top: 0;
                padding-top: 50px;

            }
        }
    }
}